@import "modules/hamburger.scss";
@import "modules/conteiner.scss";

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 36px;
  row-gap: 36px;
  margin: 50px;
  margin-top: 10px;
  padding: 30px;
  background-color: rgb(7, 7, 122);
  color: white;
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.position {
  display: grid;
  grid-template-areas:
    "article article article"
    "article article article"
    "article article article"
    "article article article";
}

.pick {
  margin: 2px;
}

.story {
  &__area {
    width: 450px;
    height: 160px;
  }
}

@media screen and (max-width: 375px) {
  .form {
    display: block;
    margin: 0;
    border-radius: 0;
    background-color: rgb(7, 7, 122);
    width: 100%;
  }

  .header {
    margin: 0 20px;
  }

  .conteiner {
    width: fit-content;
    margin-bottom: 20px;
  }

  .story__area {
    width: 100%;
    height: 100px;
    margin: 10px;
  }

  .conteiner__address,
  .conteiner__info {
    border-bottom: 2px solid rgb(7, 7, 122);
  }
}
