html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.all-page {
  background-color: navy;
  color: white;
}

.sector {
  display: flex;
  flex-direction: column;
}

.sector__formation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sector__card {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.sector__card--face {
  max-width: 160px;
  max-height: 160px;
}

.squad__function {
  display: flex;
  justify-content: center;
}

.coach__carleto {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.coach__function {
  display: flex;
  justify-content: center;
}
